label {
  color: #f8f9fa;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #9ae5d7;
  color: #3633ec;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #9ae5d7;
  color: #3633ec;
}

h3 {
  color: #000000;
}
.btn_per:hover {
  background-color: #9ae5d7;
}
